<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <typeAlias type="mybatis.model.Student" alias="Student"/>
        <typeAlias type="mybatis.model.Subject" alias="Subject"/>
        <typeAlias type="mybatis.model.Speciality" alias="Speciality"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="MANAGED"/>
            <dataSource type="JNDI">
                <property name="data_source" value="HRDataSource"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <mapper resource="SpecialityMapper.xml"/>
        <mapper resource="SubjectMapper.xml"/>
        <mapper resource="StudentMapper.xml"/>
    </mappers>
</configuration>